---
---


/*
 * Globals
 */

body {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  background-color: #f7f7f7;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

/*@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}*/
.container {
  width: 1054px;
}


/*
 * Blog name and description
 */

.blog-header {
  width: 1054px;
  height: 337px;
  margin: auto;
  overflow: auto;
  background-image: url("{{ site.baseurl }}/img/background_header.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  /*border: 3px solid green;*/
}
.blog-title {
  margin-top: 123px;
  margin-left: 76px;
  text-decoration: none;
}
/*.blog-description {
  font-size: 20px;
  color: #999;
}*/
.blog-social {
  margin-right: 30px;
}


/*
 * Masthead for nav
 */

.blog-nav {
  width: 1054px;
  height: 80px;
  margin: auto;
  overflow: auto;
  /*border: 3px solid green;*/
  background-color: #ffdccd;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 20%;
  text-align: center;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  font-weight: bold;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  font-weight: bold;
}
/*.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}*/

.blog-nav-input {
  font-family: inherit;
  font-size: 17px;
  height: 32px;
  padding: 5px 30px 5px 10px;
  border-radius: 16px;
  outline: 0;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #b5ddda;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Custom
 */

/*@media (max-width: 767px) {
  .blog-title {
    margin-left: 10px;
  }
}*/


/*
 * Search form
 */

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}
