<footer class="blog-footer">
  <div class="row">
    <img src="{{ site.baseUrl }}/img/footer_subtitle.png" alt="And now I'll do what's best for me" />
  </div>

  <div class="row footer-row footer-link">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <a class="blog-nav-item" href="{{ site.baseUrl }}/arquivo">ARCHIVE</a>
    </div>
    <div class="col-sm-2">
      <a class="blog-nav-item" href="{{ site.baseUrl }}/sobre">ABOUT ME</a>
    </div>
    <div class="col-sm-2">
      <a class="blog-nav-item" href="{{ site.baseUrl }}/legal">LEGAL</a>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row footer-row">
    <a href="{{ site.linkFacebook }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_facebook.png" alt="Facebook" /></a>
    <a href="{{ site.linkTwitter }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_twitter.png" alt="Twitter" /></a>
    <a href="{{ site.linkBloglovin }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_plus.png" alt="Bloglovin" /></a>
    <a href="{{ site.linkYoutube }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_youtube.png" alt="YouTube" /></a>
    <a href="{{ site.linkPinterest }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_pinterest.png" alt="Pinterest" /></a>
    <a href="{{ site.linkInstagram }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_instagram.png" alt="Instagram" /></a>
  </div>

  <div class="footer-copyright footer-row">
    All content copyright &copy; 2015 - 2016 hey, Lika, unless otherwise noted.
  </div>
</footer>
