<footer class="blog-footer">
  <div class="row footer-signature">
    <img src="{{ site.baseUrl }}/img/footer_subtitle.png" alt="And now I'll do what's best for me" />
  </div>

  <div class="row footer-row footer-link footer-social">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <a class="blog-nav-item blog-nav-item-margin" href="{{ site.baseUrl }}/arquivo">ARCHIVE</a>
      <a class="blog-nav-item blog-nav-item-margin" href="{{ site.baseUrl }}/sobre">ABOUT ME</a>
      <a class="blog-nav-item" href="{{ site.baseUrl }}/legal">LEGAL</a>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row footer-row footer-social">
    <a class="blog-social-footer" href="{{ site.linkFacebook }}" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
    <a class="blog-social-footer" href="{{ site.linkTwitter }}" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a class="blog-social-footer" href="{{ site.linkBloglovin }}" target="_blank"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
    <a class="blog-social-footer" href="{{ site.linkYoutube }}" target="_blank"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
    <a class="blog-social-footer" href="{{ site.linkPinterest }}" target="_blank"><i class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i></a>
    <a class="blog-social-footer" href="{{ site.linkInstagram }}" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
  </div>

  <div class="footer-copyright footer-row">
    All content copyright &copy; 2015 - 2016 hey, Lika, unless otherwise noted.
  </div>
</footer>
