<div class="blog-header">
  <h1 class="blog-title">Pocket Lika</h1>
  <!-- <p class="lead blog-description">Aqui não vai ter nenhuma frase de efeito</p> -->
</div>

<div class="navbar-wrapper">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="index.html">Home</a>
      <a class="blog-nav-item" href="xuxu.html">Xuxu</a>
      <a class="blog-nav-item" href="#">Pacotinho</a>
      <a class="blog-nav-item" href="#">NhoNhoNho</a>
    </nav>
  </div>
</div>
