<div class="blog-header">
  <!-- <h1 class="blog-title">Pocket Lika</h1> -->
  <!-- <p class="lead blog-description">Aqui não vai ter nenhuma frase de efeito</p> -->
  <div class="blog-title">
    <a href="{{ site.baseUrl }}"><img src="img/logo_heylika.png" alt="hey, Lika" /></a>
    <a href="{{ site.linkFacebook }}" target="_blank"><img class="blog-social" src="img/logo_header_facebook.png" alt="Facebook" /></a>
    <a href="{{ site.linkTwitter }}" target="_blank"><img class="blog-social" src="img/logo_header_twitter.png" alt="Twitter" /></a>
    <a href="{{ site.linkBloglovin }}" target="_blank"><img class="blog-social" src="img/logo_header_plus.png" alt="Bloglovin" /></a>
    <a href="{{ site.linkYoutube }}" target="_blank"><img class="blog-social" src="img/logo_header_youtube.png" alt="YouTube" /></a>
    <a href="{{ site.linkPinterest }}" target="_blank"><img class="blog-social" src="img/logo_header_pinterest.png" alt="Pinterest" /></a>
    <a href="{{ site.linkInstagram }}" target="_blank"><img class="blog-social" src="img/logo_header_instagram.png" alt="Instagram" /></a>
  </div>
</div>

<div class="navbar-wrapper">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="{{ site.baseUrl }}">Home</a>
      <a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">Xuxu</a>
      <a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">Pacotinho</a>
      <a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">NhoNhoNho</a>
    </nav>
  </div>
</div>
