<div class="blog-header">
  <div class="blog-title">
    <a href="{{ site.baseUrl }}"><img src="{{ site.baseUrl }}/img/logo_heylika.png" alt="hey, Lika" /></a>
    <a href="{{ site.linkFacebook }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_facebook.png" alt="Facebook" /></a>
    <a href="{{ site.linkTwitter }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_twitter.png" alt="Twitter" /></a>
    <a href="{{ site.linkBloglovin }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_plus.png" alt="Bloglovin" /></a>
    <a href="{{ site.linkYoutube }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_youtube.png" alt="YouTube" /></a>
    <a href="{{ site.linkPinterest }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_pinterest.png" alt="Pinterest" /></a>
    <a href="{{ site.linkInstagram }}" target="_blank"><img class="blog-social" src="{{ site.baseUrl }}/img/logo_header_instagram.png" alt="Instagram" /></a>
  </div>
</div>

<nav class="blog-nav">
  <ul class="nav nav-justified">
    <!-- <li class="active"><a href="{{ site.baseUrl }}">Home</a></li> -->
    <li><a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">BEAUTY</a></li>
    <li><a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">FOOD</a></li>
    <li><a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">LIFE</a></li>
    <li><a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">PLACES</a></li>
    <li><a class="blog-nav-item" href="{{ site.baseUrl }}/xuxu.html">STYLE</a></li>
    <li>
      <form class="navbar-form" role="search" action="/search.html" method="get">
        <div class="input-group">
          <input class="blog-nav-input form-control" type="search" id="search-box" name="query" placeholder="SEARCH">
          <div class="input-group-btn">
            <button class="btn btn-link" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </li>
  </ul>
</nav>
